
.gearlist__item {
    background-color: var(--color-grey-dark);
    border-radius: 2px;
    margin-bottom: .25rem;
    display: grid;
    grid-template-columns: 2fr 1fr 4fr 2fr 50px 1rem;
    padding: .5rem 1rem;
    align-items: center;
    color: var(--color-grey-light);
    font-size: .875rem;
}

.gearlist__title {
    color: var(--section-color);
    text-transform: uppercase;
    font-weight: var(--font-black);
}

.gearlist__genre {
    opacity: .5;
}

.gearlist__power {
    opacity: .5;
}

.gearlist__confirmed {
    height: 1rem;
    width: 1rem;
    background-color: var(--color-grey-light);
    mask: url('../images/checkmark.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    opacity: .5;
}

.gearlist__confirmed[confirmed] {
    background-color: var(--section-color);
    opacity: 1;
}