.section--amps {
    --section-color: var(--color-cyan);
}

.section--cabs {
    --section-color: var(--color-green);
}

.section--mics {
    --section-color: var(--color-yellow);
}

.section--fxs {
    --section-color: var(--color-red);
}

.section--presets {
    --section-color: var(--color-purple);
}

.section--links {
    --section-color: var(--color-blue);
}

.section {
    padding: 3rem 2rem 2rem;
    position: relative;
    height: 100%;
    min-height: 100vh;
}

.section[hidden] {
    display: none;
}


.section__title {
    color: var(--section-color);
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: var(--font-black);
}