@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,500,800&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-weight: var(--font-normal);
    line-height: 1.5;
}

a {
    text-decoration: none;
    font-weight: inherit;
}

.text--bold {
    font-weight: var(--font-black);
}

.text--thin {
    font-weight: var(--font-thin);
}