:root {
    --font-thin: 100;
    --font-normal: 400;
    --font-medium: 500;
    --font-black: 800;

    --color-grey-dark: #2b2f34;
    --color-grey-middle: #757a8d;
    --color-grey-light: #d8d8d8;

    --color-background: #2F3741;

    --color-cyan: #2CEFFF;
    --color-green: #50EF99;
    --color-yellow: #F2D060;
    --color-purple: #BD51D6;
    --color-red: #F0513C;
    --color-blue: #67bbff;

    --transition-normal: color .25s ease-out;

    --border-radius: 2px;
}